<a href="https://colab.research.google.com/github/Avilash02/python-basics-notes/blob/main/Python_basics_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **Introduction**

In [5]:
# Python is a high-level, interpreted, general-purpose programming language.
# Created by Guido van Rossum and released in 1991.
# It emphasizes readability, simplicity, and versatility.

print("Hello, Python!")

Hello, Python!

**2. Variables and Data Types**

In [6]:
# Variables store data in memory
x = 10              # integer
y = 3.14            # float
name = "Avilash"    # string
is_learning = True  # boolean

print(x, y, name, is_learning)

10 3.14 Avilash True

**3. Input and Output**

In [7]:
# input() always returns a string
# Example: a = int(input("Enter a number: "))
print("Enter your name:")
your_name = input()
print("Welcome,", your_name)

Enter your name:
Avilash
Welcome, Avilash

**4. Operators**

In [11]:
# Arithmetic operators
a, b = 10, 3
print(a + b)  # addition
print(a - b)  # subtraction
print(a * b)  # multiplication
print(a / b)  # division (float)
print(a // b) # floor division
print(a % b)  # modulus
print(a ** b) # exponentiation

13
7
30
3.3333333333333335
3
1
1000

**5. Conditional Statements**

In [12]:
num = 7
if num > 0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Negative")

Positive

**6. Loops**

In [13]:
# for loop
for i in range(5):
    print("Loop", i)

# while loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Loop 0
Loop 1
Loop 2
Loop 3
Loop 4
Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

**7. Functions**

In [14]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Avilash"))

Hello, Avilash!

**8. Lists**

In [15]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)
print(fruits[1])
for f in fruits:
    print(f)

['apple', 'banana', 'cherry', 'orange']
banana
apple
banana
cherry
orange

**9. Tuples**

In [16]:
t = (1, 2, 3)
print(t[0])

1

**10. Dictionaries**

In [17]:
student = {"name": "Avilash", "age": 21, "course": "MCA"}
print(student["name"])
for key, value in student.items():
    print(key, ":", value)

Avilash
name : Avilash
age : 21
course : MCA

**11. Sets**

In [18]:
s = {1, 2, 3, 2}
s.add(4)
print(s)

{1, 2, 3, 4}

**12. Strings**

In [19]:
text = "Hello Python"
print(text.lower())
print(text.upper())
print(text.replace("Python", "Avilash"))
print(text[0:5])

hello python
HELLO PYTHON
Hello Avilash
Hello

**13. File Handling**

In [20]:
# Writing to a file
with open("example.txt", "w") as f:
    f.write("This is Avilash's file.")

# Reading from a file
with open("example.txt", "r") as f:
    print(f.read())

This is Avilash's file.

**14. Exception Handling**

In [21]:
try:
    x = int(input("Enter a number: "))
    print(10 / x)
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Invalid input!")
finally:
    print("Done")

Enter a number: 25
0.4
Done

**15. Classes and Objects**

In [22]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show(self):
        print(f"Name: {self.name}, Age: {self.age}")

s1 = Student("Avilash", 21)
s1.show()

Name: Avilash, Age: 21

**16. Modules and Imports**

In [24]:
import math
print(math.sqrt(25))
print(math.pi)

5.0
3.141592653589793

**17. List Comprehension**

In [23]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

**18. Lambda Functions**

In [25]:
add = lambda a, b: a + b
print(add(5, 3))

8

**19.Pandas**

In [26]:
import pandas as pd

data = {"Name": ["Avilash", "Rahul"], "Age": [21, 22]}
df = pd.DataFrame(data)
print(df)
print(df["Name"])

      Name  Age
0  Avilash   21
1    Rahul   22
0    Avilash
1      Rahul
Name: Name, dtype: object

**20. Map, Filter, Reduce**

In [27]:
from functools import reduce
nums = [1, 2, 3, 4, 5]
print(list(map(lambda x: x*2, nums)))
print(list(filter(lambda x: x%2==0, nums)))
print(reduce(lambda a,b: a+b, nums))

[2, 4, 6, 8, 10]
[2, 4]
15

**21. Basic Libraries Overview**

In [28]:
# Common Libraries
# math – mathematical operations
# random – random number generation
# datetime – working with date/time
# os – interacting with the system
# sys – system-specific parameters
# numpy, pandas – data analysis
# matplotlib – data visualization

**22.Decorators**

In [29]:
def decorator(func):
    def wrapper():
        print("Before the function")
        func()
        print("After the function")
    return wrapper

@decorator
def say_hello():
    print("Hello!")

say_hello()

Before the function
Hello!
After the function

**23.Iterators and Generators**

In [30]:
nums = [1, 2, 3]
it = iter(nums)
print(next(it))
print(next(it))

def gen_numbers():
    for i in range(3):
        yield i

for num in gen_numbers():
    print(num)

1
2
0
1
2

**24.Regular Expressions**

In [31]:
import re
text = "My phone number is 9876543210"
pattern = r"\d{10}"
match = re.search(pattern, text)
if match:
    print("Found:", match.group())

Found: 9876543210